.web-only-ico {
  display: none;
}

.mobile-only-ico {
  display: none;
}

@media (min-width: 992px) {
  .web-only-ico {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .mobile-only-ico {
    display: inline;
    align-items: center;
  }
} 